body {
    background-size: cover;
    background-position: center;
}

.heading {
    font-size: 35px;
    width: 100%;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(120, 7, 7, 0.31); 
}

#back {
    padding: 15px 32px;
    text-align: right;
    float: right;
    font-size: 25px;
    background-color: rgba(120, 7, 7, 0.31); 
    margin-top: 15px ;
    color: white;
}

#status{
    text-align: right;
    font-size: 25px;
    background-color: rgba(120, 7, 7, 0.31);  
    padding: 15px 32px;
    margin: 2px 2px;
}

canvas {
    border-radius: 20px;
    box-shadow: 15px 15px 15px rgb(70, 0, 35);
    margin-top: 50px;
}
